.header {
    width: 100%;
    height: var(--header-height);
    background-color: var(--white-color);
    position: fixed;
    left: var(--sidebar-width);
}

.header > .header-content {
    position: absolute;
    left: 20px;
    top: 20px;
    height: 60px;
}

// Greating
.header-content .header-greating {
    font-size: 16px;
    font-weight: var(--bold-font-weight);
    color: var(--black-color);
}

.header-content .greating-description {
    font-size: 16px;
    margin-top: 8px;
    color: var(--gray-color);
}

// Actions
.header-actions {
    display: flex;
    align-items: center;
    position: fixed;
    top: 28px;
    right: 132px;
}

.more-btn {
    font-size: 20px;
    padding: 4px 12px;
    padding-left: 22px;
    background-color: transparent;
    cursor: pointer;
}

.action-btn {
    font-size: 20px;
    background-color: transparent;
    padding: 4px 12px;
    cursor: pointer;
}

.user-avatar {
    width: 28px;
    height: 28px;
    object-fit: cover;

    margin-left: 16px;

    border-radius: 50%;
    cursor: pointer;
}
