.wrapper {
    margin-top: var(--header-height);
    background-color: #121010;
    color: var(--primary-color);
    height: 900px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.display-record {
}

// weather details section
.today-details--title {
    font-size: 18px;
    padding-top: 12px;
}

.property-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--sidebar-width) - var(--sidebar-width-small) - 49px);
    margin-top: 12px;
}

.grid-item {
    height: 132px;
    width: 282px;
    background-color: #201e1e;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    margin: 4px 12px;
    display: flex;
}

.property-content {
    width: 100%;
    padding: 10px 10px;
}

.property-name {
    display: flex;
    position: relative;
}

.property-title {
    width: 112px;
    font-weight: 560;
}

.property-icon {
    height: 24px;
    width: 24px;
    background-color: var(--main-color);
    color: var(--white-color);
    border-radius: 25%;
    align-items: center;
    justify-content: center;
    margin-left: 96px;
    display: flex;
}

.wind-speed-display {
    padding-left: 42px;
}

.property-value {
    width: 100%;
    height: 24px;
    padding-left: 100px;
    padding-top: 4px;
}

.property-state {
    padding-left: 4px;
}

.wind-speed-value {
    position: relative;
    top: -30px;
    left: -18px;
}

// weather forecast section
.weather-forecast {
    width: 64%;
    margin-left: calc(var(--sidebar-width));
}

.weather-forecast-actions {
    padding-left: 540px;
    display: flex;
}

.forecast-actions-item {
    color: #b0b0b0;
    font-size: 16px;
    padding: 4px 8px;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background-color: #eee;
    margin-left: 8px;

    display: flex;
    cursor: pointer;
}

.forecast-actions-item-title {
    margin-right: 4px;
}
