// Sidebar left section
.sidebar {
    background-color: #0f0f0f;
    color: var(--white-color);
    position: fixed;
    left: 0;
    height: 100%;
    width: var(--sidebar-width);
    box-shadow: 3px 0px 10px 1px rgba(36, 139, 242, 0.2);
    overflow: hidden;

    &:hover {
        z-index: 1;
    }
}

.sidebar__heading {
    font-size: 1.2rem;
    padding: 18px 18px;
    font-weight: 550;
    display: flex;
    border-bottom: 1px solid rgba(225, 225, 225, 0.1);
    margin-bottom: 4px;
}

.sidebar__heading-icon {
    font-size: 1.4rem;
    display: block;
    min-width: 36px;
    height: 36px;
    line-height: 36px;
}

.sidebar .name-app {
    font-size: 1.4rem;
    display: block;
    padding: 0 10px;
    height: 36px;
    line-height: 36px;
    margin-left: 8px;
}

.sidebar ul {
    padding-left: 0;
}

.sidebar .sidebar-menu a {
    color: var(--white-color);
}

.sidebar-item--active {
    background-image: linear-gradient(to right, rgba(106, 172, 238, 0.5), rgba(106, 172, 238, 0));
}

.sidebar .sidebar-content {
    position: relative;
    font-size: 1.2rem;
    padding: 12px 18px;
    display: block;
    transition: right linear 0.2s;
    right: 0;
    display: flex;
}

.sidebar .sidebar-content:hover {
    right: -8px;
    cursor: pointer;
}

.sidebar .sidebar-item-icon {
    display: block;
    min-width: 36px;
    height: 36px;
    line-height: 36px;
}

.sidebar .sidebar-item-title {
    display: block;
    padding: 0 10px;
    height: 36px;
    line-height: 36px;
    white-space: nowrap;
}

// Sidebar right section
.sidebar-right {
    color: var(--white-color);
    position: fixed;
    right: 0;
    height: 100%;
    width: calc(var(--sidebar-right-width) + 30px);
    box-shadow: 3px 0px 10px 1px rgba(36, 139, 242, 0.4);
    overflow: hidden;
}

.sidebar-right-heading {
    height: 30%;
    border-bottom: 1px solid rgba(225, 225, 225, 0.1);
}

.sidebar-right-city {
    font-size: 24px;
    position: fixed;
    top: 106px;
    right: 88px;
}

.sidebar-right-clock {
    font-size: 22px;
    position: fixed;
    top: 140px;
    right: 106px;
}

.sidebar-right-temperature {
    font-size: 48px;
    position: fixed;
    top: 196px;
    right: 104px;
    display: flex;
}

.temperature-unit {
    font-size: 24px;
}

.chanse-rain-title {
    margin-bottom: 8px;
}

.chanse-rain-section {
    font-size: 18px;
    margin: 24px 20px;
}

.chanse-rain-item {
    display: flex;
    padding-top: 28px;
}
