.sidebar {
    background-color: var(--main-color);
    color: var(--white-color);
    position: fixed;
    height: 100%;
    left: 0;
    width: var(--sidebar-width-small);
    box-shadow: 3px 0px 10px 1px rgba(36, 139, 242, 0.2);
    overflow: hidden;

    &:hover {
        transition: 300ms;
        width: var(--sidebar-width);
        z-index: 1;

        .sidebar-item-title,
        .name-app {
            padding: 0;
        }
    }
}

.sidebar__heading {
    font-size: 1.2rem;
    padding: 18px 18px;
    font-weight: 550;
    display: flex;
    border-bottom: 1px solid rgba(225, 225, 225, 0.1);
    margin-bottom: 4px;
}

.sidebar__heading-icon {
    font-size: 1.4rem;
    display: block;
    min-width: 36px;
    height: 36px;
    line-height: 36px;
}

.sidebar .name-app {
    font-size: 1.4rem;
    display: block;
    padding: 0 10px;
    height: 36px;
    line-height: 36px;
    margin-left: 8px;
}

.sidebar .sidebar-menu a {
    color: var(--white-color);
}

.sidebar-item--active {
    background-image: linear-gradient(to right, rgba(106, 172, 238, 0.5), rgba(106, 172, 238, 0));
}

.sidebar .sidebar-content {
    position: relative;
    font-size: 1.1rem;
    padding: 12px 18px;
    display: block;
    transition: right linear 0.2s;
    right: 0;
    display: flex;
}

.sidebar .sidebar-content:hover {
    right: -8px;
    cursor: pointer;
}

.sidebar .sidebar-item-icon {
    display: block;
    min-width: 36px;
    height: 36px;
    line-height: 36px;
}

.sidebar .sidebar-item-title {
    display: block;
    padding: 0 10px;
    height: 36px;
    line-height: 36px;
    white-space: nowrap;
}
