.header-search {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 18px;
    left: 500px;
    padding-top: 8px;
}

.search-bar .search-input,
.search-result {
    width: 356px;
    background-color: #eee;
}

.search-title {
    font-size: var(--font-size);
    font-weight: 600;
    padding: 5px 12px;
    color: rgba(22, 24, 35, 0.5);
}

.search-bar .search-input {
    flex: 1;
    height: 34px;
    border-radius: 16px;
    padding: 8px;
    padding-right: 16px;
    padding-left: 28px;
}

.clear,
.loading {
    color: #ccc;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-26%);

    cursor: pointer;
}

.btn-search {
    width: 15px;
    height: 16px;
    position: absolute;
    left: 8px;
    top: 17px;
    color: #ccc;

    &:hover {
        cursor: pointer;
    }
}

.search-input {
    &:focus-visible {
        outline: none;
        padding-left: 14px;
        border: 1px solid;
        border-color: var(--main-color);
    }

    &:focus-visible ~ .btn-search {
        display: none;
    }
}
