.header-search {
    justify-content: center;
    align-items: center;
    line-height: var(--header-height);
}

.search-bar .search-input,
.search-result {
    width: calc(var(--default-layout-width) * 40 / 100);
    background-color: #201e1e;
}

.search-title {
    font-size: var(--font-size);
    font-weight: 600;
    padding: 5px 12px;
    color: rgba(22, 24, 35, 0.5);
}

.search-bar .search-input {
    flex: 1;
    height: calc(var(--default-layout-height) * 4 / 100);
    border-radius: 16px;
    padding: 8px;
    padding-right: 16px;
    padding-left: 28px;
}

.clear,
.loading {
    color: #ccc;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-20%);

    cursor: pointer;
}

.loading {
    animation: spinner 0.7s linear infinite;
}

@keyframes spinner {
    from {
        transform: translateY(-20%) rotate(0);
    }
    to {
        transform: translateY(-20%) rotate(360deg);
    }
}

.btn-search {
    width: 15px;
    height: 16px;
    position: absolute;
    left: 620px;
    top: 28px;
    color: #ccc;

    &:hover {
        cursor: pointer;
    }
}

.search-input {
    color: #dfefff;
    &:focus-visible {
        outline: none;
        padding-left: 14px;
        border: 1px solid;
        border-color: var(--main-color);
    }

    &:focus-visible ~ .btn-search {
        display: none;
    }
}
