@import 'normalize.css';

/* Global CSS variables */
:root {
    --main-color: rgb(6, 127, 248);
    --white-color: #fff;
    --black-color: #000;
    --gray-color: #ccc;
    --blue-black-color: #15156b;

    // Default layout
    --default-layout-width: 1200px;
    --default-layout-height: 900px;
    --header-height: 72px;
    --font-size: 16px;
    --bold-font-weight: 550;

    // Sidebar
    // left
    --sidebar-width: 270px;
    --sidebar-width-small: 60px;

    // right
    --sidebar-right-width: 273px;
}

/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

html {
}

body {
    font-family: 'ProximaNova', sans-serif;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    color: var(--black-color);
    text-decoration: none;
}

// Fonts embedded
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/ProximaNova-Semibold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Semibold.woff2');
    font-weight: 700;
}

@font-face {
    font-family: SofiaPro;
    src: url('/assets/fonts/sofiapro-semibold.otf');
    font-weight: 700;
}

//  Custom tippy tooltip
body {
    .tippy-box {
        border-radius: 8px;
        font-weight: 550;
        font-size: 10px;
        line-height: 20px;
        background-color: rgba(84, 84, 84, 0.92);
    }
    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }

    .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
        top: -8px;
    }
}
