@import 'normalize.css';

/* Global CSS variables */
:root {
    --main-color: rgb(36, 139, 242);
    --white-color: #fff;
    --black-color: #000;
    --gray-color: #ccc;

    // Default layout
    --header-height: 88px;
    --font-size: 16px;
    --bold-font-weight: 550;

    // Sidebar
    --sidebar-width: 178px;
}

/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    color: var(--black-color);
    text-decoration: none;
}

//  Custom tippy tooltip
body {
    .tippy-box {
        border-radius: 8px;
        font-weight: 550;
        font-size: 10px;
        line-height: 20px;
        background-color: rgba(84, 84, 84, 0.92);
    }
    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }

    .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
        top: -8px;
    }
}
